<div class="container pb-4">
    <div class="col-md-6 offset-md-3 py-5">
        <div class="card">
            <h4 class="card-header text-center">
                Hellas COVID19 3D Printing Inventory
            </h4>
            <div class="card-body">
                <form [formGroup]="loginForm"
                      (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text"
                               formControlName="username"
                               class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors"
                             class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password"
                               formControlName="password"
                               class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors"
                             class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="button-group col-12 px-0 d-md-flex align-items-center">
                        <div class="col-12 px-0 mb-3 pt-3 py-3 col-md-2 p-md-0 m-md-0">
                            <button [disabled]="loading"
                                    class="btn btn-primary col-12 p-md-2"
                                    type="submit">
                                <span *ngIf="loading"
                                      class="spinner-border spinner-border-sm"></span>
                                Login
                            </button>
                        </div>
                        <div class="col-12 px-0 text-center col-md-10 flex-md-grow-1 d-flex justify-content-between align-items-center">
                            <button class="btn btn-info col-5 p-2 m-0 col-md-3 ml-md-3"
                                    (click)="onRegister()"
                                    type="button">
                                Register
                            </button>
                            <button class="btn btn-success ml-2 col-6 p-0 m-0 col-md-5 p-md-2"
                                    [routerLink]="['/guide']">
                                Οδηγός Εκτύπωσης
                            </button>
                        </div>

                    </div>
                    <div *ngIf="error"
                         class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-10 offset-md-1 text-center pt-4">
        <div>
            <p>
                Στήριξε και εσύ την προσπάθεια του 3DHUB και της ομάδας εθελοντών που σε συνεργασία με το υπουργείου Υγείας ανέλαβαν την παραγωγή χιλιάδων ασπίδων προστασίας για το νοσηλευτικό προσωπικό όλης της χώρας!
            </p>
        </div>
        <a href="https://www.3dhub.gr/shop/consumables/covid19-1kg-pla/"
           target="_blank">
            <button type="button"
                    class="btn btn-warning">Δώρησε
            </button>
        </a>
    </div>
</div>

<!-- Start fact Area -->
<section class="facts-area section-gap mt-5"
         id="facts-area">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-3 col-md-12 pb-md-3 single-fact"
                 data-wow-duration="1s">
                <h1 class="counter">2500+</h1>
                <p>Εθελοντές</p>
            </div>
            <div class="col-lg-3 col-md-12 pb-md-3 single-fact"
                 data-wow-duration="1s"
                 data-wow-delay=".3s">
                <h1 class="counter">10000+</h1>
                <p>3D Ασπίδες</p>
            </div>
            <div class="col-lg-3 col-md-12 single-fact"
                 data-wow-duration="1s">
                <h1 class="counter">18</h1>
                <p>Φορείς</p>
            </div>
        </div>
    </div>
</section>
<!-- end fact Area -->

<!-- Start services Area -->
<section class="services-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content  col-lg-7">
                <div class="title text-center">
                    <h1 class="mb-10">Δυνατότητες</h1>
                    <p>Πως να αξιοποιήσεις αυτή την εφαρμογή</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="material-icons">
                        local_shipping
                    </span>
                    <h4>Καταγραφή Μετακίνησης Υλικών</h4>
                    <p>
                        Ενημέρωσε το 3DHub για την αποστολή του δέματος σου και ενημερώσου για την παραλαβή του.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="material-icons">
                        query_builder
                    </span>
                    <h4>Πρόσφατη Δραστηριότητα</h4>
                    <p>
                        Δες που βρίσκεται το δέμα με τις εκτυπώσεις σου μέχρι να φτάσει στο 3DHub και πότε σου στάλθηκε καινούργιο υλικό για να συνεχίσεις τις εκτυπώσεις σου.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <span class="material-icons">
                        print
                    </span>
                    <h4>Παρέλαβε Filament</h4>
                    <p>
                        Όταν φύγει το πλαστικό σου από το 3DHub μπορείς να δεις την ακριβή ημερομηνία και το εντοπίσεις το με το tracking number του.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End services Area -->