<div class="card mt-4">
    <h4 class="card-header">Αποστολές</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary"
                        [routerLink]="['/admin']">
                    Αρχική
                </button>
                <button class="btn btn-success ml-3"
                        [routerLink]="['/admin/users']">
                    Όλοι οι Χρήστες
                </button>
            </div>
        </div>
        <hr />
        <div *ngIf="loading"
             class="spinner-border spinner-border-sm"></div>
        <div class="row text-center col-12 text-nowrap font-weight-bold m-0 p-0">
            <div class="col-3 col-md-4"></div>
            <div class="col-6 col-md-4 alert alert-primary p-0"
                 role="alert">
                <p class="m-1">Απεσταλμένα</p>
                <hr class="m-1" />
                <p class="m-1">{{totals.totalQuantityRecieved || '-'}}</p>
            </div>
            <div class="col-3 col-md-4"></div>
        </div>
        <hr />
        <div class="col-12 mt-3 p-0">
            <app-list-view [clientSide]="true"
                           [columns]="columns"
                           [rows]="pendingShipments"
                           [rowsPerPage]="10"
                           [defaultSortField]="'dateShipped'"
                           [defaultSortDirection]="'Desc'"
                           (search)="getUsersWithShipments($event)"
                           [canFilter]="true"
                           #shipmentsList>
            </app-list-view>
            <ng-template let-row="row"
                         let-value="value"
                         #dateTemplate>
                {{ value | date }}
            </ng-template>
            <ng-template let-row="row"
                         let-value="value"
                         #trackingNumberTemplate>
                <a target="_blank"
                   href="https://www.taxydromiki.com/track/{{value}}"
                   class="text-dark">{{value}}</a>
            </ng-template>
            <ng-template let-row="row"
                         let-value="value"
                         #deliveryTemplate>
                <div *ngIf="deliveryLoading else deliveryBtn"
                     class="spinner-border spinner-border-sm"></div>
                <ng-template #deliveryBtn>
                    <div class="px-4 py-0 my-0"
                         *ngIf="row.recieved else notRecieved">
                        <span class="material-icons align-text-top">
                            done
                        </span>
                    </div>
                    <ng-template #notRecieved>
                        <div class="px-4 py-0 my-0">
                            <span class="material-icons text-muted">
                                local_shipping
                            </span>
                        </div>
                    </ng-template>
                </ng-template>
            </ng-template>
        </div>
    </div>
</div>