<div class="card mt-4">
    <h4 class="card-header">{{currentUser.firstName}} {{currentUser.lastName}}</h4>
    <div class="card-body">
        <div *ngIf="loading"
             class="spinner-border spinner-border-sm"></div>
        <div class="row">
            <div class="col-12 d-flex">
                <div class="flex-grow-1">
                    <button class="btn btn-success ml-3"
                            [routerLink]="['/admin/users']">
                        Όλοι οι Χρήστες
                    </button>
                    <button class="btn btn-success ml-3 mt-3 mt-md-0"
                            [routerLink]="['/admin/shipments']">
                        Όλες οι Αποστολές
                    </button>
                </div>
                <button class="btn btn-danger"
                        [routerLink]="['/admin/filament']">
                    Αποστολή Υλικού
                </button>
            </div>
        </div>
        <hr />
        <div class="row text-center text-nowrap font-weight-bold">
            <div class="col-3"></div>
            <div class="col-3">
                <div class="alert alert-primary p-0"
                     role="alert">
                    <p class="m-1">Χρήστες</p>
                    <hr class="m-1"/>
                    <p class="m-1">{{totals.totalUsers|| '-'}}</p>
                </div>
            </div>
            <div class="col-3">
                <div class="alert alert-primary p-0"
                     role="alert">
                    <p class="m-1">Απεσταλμένα</p>
                    <hr class="m-1"/>
                    <p class="m-1">{{totals.totalQuantityRecieved|| '-'}}</p>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <hr />
        <div class="col-12 mt-3 p-0">
            <app-list-view [clientSide]="true"
                           [columns]="columns"
                           [rows]="pendingUsers"
                           [rowsPerPage]="2147483647"
                           [defaultSortField]="'dateShipped'"
                           [defaultSortDirection]="'Desc'"
                           [showFooter]="'false'"
                           (search)="getUsersWithShipments($event)"
                           [canFilter]="true"
                           #shipmentsList>
            </app-list-view>
            <ng-template let-row="row"
                         let-value="value"
                         #dateTemplate>
                {{ value | date }}
            </ng-template>
            <ng-template let-row="row"
                         let-value="value"
                         #trackingNumberTemplate>
                <a target="_blank"
                   href="https://www.taxydromiki.com/track/{{value}}"
                   class="text-dark">{{value}}</a>
            </ng-template>
            <ng-template let-row="row"
                         let-value="value"
                         #deliveryTemplate>
                <div *ngIf="deliveryLoading else deliveryBtn"
                     class="spinner-border spinner-border-sm"></div>
                <ng-template #deliveryBtn>
                    <button class="btn btn-primary px-4 py-0 my-0"
                            (click)="onRecieved(row)"
                            *ngIf="!row.recieved else notRecieved">
                        <span class="material-icons align-text-top text-light">
                            done
                        </span>
                    </button>
                    <ng-template #notRecieved>
                        <span class="material-icons text-muted">
                            local_shipping
                        </span>
                    </ng-template>
                </ng-template>
            </ng-template>
        </div>
    </div>
</div>