<div class="modal-header p-0">
    <h5 mat-dialog-title
        class="modal-title">Αποστολή υλικού σε: <strong>{{data.firstName}} {{data.lastName}}</strong></h5>
</div>
<form>
    <div class="form-row col-12 mr-0">
        <div class="form-group col-md-6">
            <label for="firstName">Όνομα*</label>
            <input type="text"
                   disabled
                   value='{{data.firstName}}'
                   class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <label for="lastName">Επίθετο*</label>
            <input type="text"
                   disabled
                   value='{{data.lastName}}'
                   class="form-control">
        </div>
    </div>
    <div class="form-row col-12 mr-0">
        <div class="form-group col-md-6">
            <label for="address">Διεύθυνση Αποστολής*</label>
            <textarea disabled
                      rows="4"
                      value='{{data.address}}'
                      class="form-control">
                </textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="phoneNumber">Τηλέφωνο*</label>
            <input type="tel"
                   disabled
                   value='{{data.phoneNumber}}'
                   placeholder="6934567891"
                   class="form-control" />
        </div>
    </div>
</form>
<hr/>
<form [formGroup]="filamentForm">
    <div mat-dialog-content
         class="col-12 mt-2 ml-0 p-0 text-center">
        <mat-form-field class="mr-0 py-0">
            <mat-label>Tracking Number</mat-label>
            <input matInput
                   [(ngModel)]="data.filamentTrackingNumber"
                   formControlName="filamentTrackingNumber">
            <!-- <mat-error *ngIf="f.filamentTrackingNumber.hasError('required')">
                Tracking Number is <strong>required</strong>
            </mat-error> -->
        </mat-form-field>
        <mat-form-field class="ml-md-4">
            <mat-label>Ημερ/νια Αποστολής</mat-label>
            <input matInput
                   [matDatepicker]="picker"
                   required
                   [(ngModel)]="data.sentFilamentDate"
                   formControlName="sentFilamentDate">
            <mat-datepicker-toggle matSuffix
                                   [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="f.sentFilamentDate.hasError('required')">
                Date is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions
         class="modal-footer">
        <button mat-button
                type="button"
                class="btn btn-primary"
                (click)="onNoClick()">Άκυρο</button>
        <button mat-button
                class="btn btn-danger ml-3"
                type="submit"
                [disabled]="!filamentForm.valid"
                [mat-dialog-close]="data">
            <i class="material-icons material-action align-text-top text-light">
                send
            </i>
        </button>
    </div>
</form>