<div class="card mt-4">
    <h4 class="card-header">Αποστολή Υλικού</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary"
                        [routerLink]="['/admin']">
                    Αρχική
                </button>
                <button class="btn btn-success ml-3"
                        [routerLink]="['/admin/shipments']">
                    Όλες οι Αποστολές
                </button>
            </div>
        </div>
        <hr />
        <div *ngIf="loading"
             class="spinner-border spinner-border-sm"></div>
        <div class="col-12 mt-3">
            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span>Χρήστες με ανάγκη για υλικό</h5>
            <app-list-view [clientSide]="true"
                           [columns]="columns"
                           [rows]="users"
                           [rowsPerPage]="10"
                           [defaultSortField]="'latestShippedDate'"
                           [defaultSortDirection]="'Desc'"
                           [emptyMessage]="'Δεν υπάρχει κάποιος χρήστης που να έχει ζητήσει filament!'"
                           (search)="getUsers($event)"
                           [canFilter]="true"
                           #usersList>
            </app-list-view>
            <ng-template let-row="row"
                         let-value="value"
                         #dateTemplate>
                {{ value | date }}
            </ng-template>
            <ng-template let-row="row"
                         let-value="value"
                         #actionsTemplate>
                <div *ngIf="deliveryLoading else deliveryBtn"
                     class="spinner-border spinner-border-sm"></div>
                <ng-template #deliveryBtn>
                    <button class="btn btn-danger px-4 py-0 my-0"
                            *ngIf="value"
                            (click)="openDialog(row)">
                        <i class="material-icons material-action align-text-top text-light">
                            send
                        </i>
                    </button>
                </ng-template>
            </ng-template>
        </div>
    </div>
</div>
